html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Asegura que todo incluya padding y bordes en el tamaño */
  scroll-behavior: smooth;
}



/* Ocultar scrollbar visualmente en navegadores WebKit como Chrome y Edge */
/*::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}*/


