.react-datepicker__month-wrapper {
    display: flex; /* Asegura que los meses se muestren en una sola fila */
}

.react-datepicker {
     /* Mantén el calendario posicionado relativo al input */
     position: absolute;
    left: 0; /* Alinea el calendario con el borde izquierdo del input */
    top: 100%; /* Asegura que el calendario esté justo debajo del input */
    display: flex; /* Mantén los meses en una fila */
    z-index: 9999; /* Asegura que el calendario esté visible sobre otros elementos */
    width: auto;
    left: 0; 
  }

  .react-datepicker-popper {
    left: 0;
  }

 .react-datepicker__header {
    background-color: white;
    padding: 1px;
    border-bottom: none; 
 }

 .react-datepicker__month-container:first-of-type .react-datepicker__month {
  border-right: #00467f solid 1px;
  margin-right: 0;
 }

 .react-datepicker__month-container .react-datepicker__month{
  margin-bottom: 0;
 }

 .react-datepicker__month-container:first-of-type .react-datepicker__day-names {
  border-right: #00467f solid 1px;
 }

 .react-datepicker__month-container:first-of-type .react-datepicker__header {
  padding-right: 0; /* Solo el header del primer mes */
}

.react-datepicker__month-container:nth-of-type(2) .react-datepicker__header {
  padding-left: 0; 
}

 .react-datepicker__header .react-datepicker__current-month {
  padding-right: 10px;
 }


.react-datepicker__current-month {
    display: flex;
    color: white;
    background: linear-gradient(to bottom, #0078d2, #00467f);
    height: 30px;
    align-items: center;
    justify-content: center;
}

.react-datepicker__input-container input{
    width: 100%;
    height: 40px;
    display: flex;
    box-sizing: border-box; 
    padding-left: 10px;
    padding-right: 30px;
}


.custom-input-wrapper {
  display: flex;
  align-items: center;
}

.custom-input-wrapper input {
  flex: 1;
}

.custom-calendar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  padding: 2px;
  font-size: 1em; /*Adjust  the icon size as needed */
}

 .react-datepicker__input-container {
    position: relative; /* El contenedor necesita estar en posición relativa */
  }
  
  .react-datepicker__calendar-icon {
    position: absolute;
    right: 10px; /* Coloca el icono a la derecha del contenedor */
    top: 50%; /* Centra el icono verticalmente */
    transform: translateY(-50%); /* Ajusta para asegurar el centrado exacto */
    pointer-events: none; /* Evita que interfiera con el input */
  }


.icon {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}




@media (max-width: 1015px) {
    .react-datepicker {
        transform: translateY(-100%) !important; 
    }}
