
.formContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    margin: auto;
  }

  .radioContainer {
    display: flex;
    gap: 20px;
    justify-content: baseline;
    margin-top: 20px;
    padding: 10px 20px;
  }

.formCityContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    padding: 20px;
    gap:20px
}

.formItems {
    display: flex;
    flex-direction: column;
}

.formItems label {
    margin-bottom:  5px;
}


.searchInput,
.selectInput,
.MuiOutlinedInput-root {
  width: 100% !important;
  font-size: 1rem !important;
  /*padding: 5px 30px 5px 10px !important;*/
  font-family: Arial, sans-serif !important;
  border-radius: 4px;
}


.selectInput {
  border-color: rgba(0, 0, 0, 0.23);
  height: 40px;
}

.selectInput:hover {
  border-color: rgba(0, 0, 0, 0.87);;
}

.selectInput:focus {
  border-color: #1976d2; /* Cambia el color del borde cuando está enfocado */
  outline: none; /* Elimina el borde por defecto del navegador */
  border-width: 2px;
}





 

  .dateInput {
    width: 100%;
    font-size: 16px;
    padding: 5px 10px; /* Padding uniforme para los inputs de fecha */
    box-sizing: border-box; /* Ensure that padding does not affect the overall size of the input */
  }

  .searchButton {
    background: linear-gradient(#0078d2, #0061ab);
    color: #fff;
    border: 1px solid #0078d2;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    height: 40px;
    align-self: end;
    border-radius: 2px;
  }

  .buttonText {
    position: relative;
  }
  
  .buttonText::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px; 
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.1s ease;
  }
  
  .searchButton:hover .buttonText::after {
    width: 100%;
  }


/* Para radio buttons */
input[type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: #0078d2;
    width: 1.15em;
    height: 1.15em;
    border: 0.1em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    transition: border 0.3s ease-in-out; 
  }

  input[type="radio"]:not(:checked):hover {
    border-width: 4px; 
  }
  
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #0078d2;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
