.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Fondo semitransparente */
    z-index: 10000;
    /* 🔥 Animación de aparición */
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .spinning {
    top: -70px;
    animation: spinner 1s linear infinite;
  }
  
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }